<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Receipes App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <nav
      class="h-12 sticky top-0 opacity-99 z-10 flex justify-between items-center bg-[#fff] rounded-lg shadow-md border p-2"
    >
      <div
        class="font-bold font-serif text-transparent bg-clip-text bg-gradient-to-b from-pink-500 to-red-900 text-lg"
      >
        VRecipes
      </div>
      <div>
        <form class="flex jutify-center items-center border rounded-lg ps-1">
          <input
            type="text"
            name="search"
            id="search"
            placeholder="search"
            class="outline-none"
          />
          <button
            type="submit"
            class="p-1 bg-blue-500 rounded-lg text-white text-md"
          >
            search
          </button>
        </form>
      </div>
      <div class="hidden md:block">
        <a
          href="/add_receipe"
          class="p-1 px-3 bg-blue-600 text-white rounded-lg"
          >Add Reciepes</a
        >
      </div>
    </nav>
    {% block start %}{% endblock %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
