{% extends "base.html"%} {% block start %}
<div class="pb-4">
  <div class="container mt-5">
    <form
      class="col-6 mx-auto border p-2 rounded shadow-lg card"
      method="post"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <div class="mb-3">
        <label for="receipy_name" class="form-label">Reciepy Name</label>
        <input
          type="text"
          class="form-control"
          id="receipy_name"
          name="receipy_name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="receipy_des" class="form-label">Description</label>
        <textarea
          type="text"
          class="form-control"
          id="receipy_des"
          name="receipy_des"
          required
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="receipy_img" class="form-label">Reciepy Image</label>
        <input
          type="file"
          class="form-control"
          id="receipy_img"
          name="receipy_img"
          required
        />
      </div>

      <button type="submit" class="btn btn-primary btn-success">
        Add Receipy
      </button>
    </form>
  </div>
</div>
{% endblock %}
